<configuration>logback_file
    <timestamp key="bySecond" datePattern="yyyy-MM-dd'T'HH-mm-ss"
               timeReference="contextBirth"/>
    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>${JFTF_LOGS}/${CUR_APP_NAME}/log_${CUR_APP_NAME}_${bySecond}.log</file>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="fileAppender" />
    </root>
</configuration>